<div class="invoice-card">
  <div class="invoice-card__left">
    <span class="bold"># <%= invoice.number %></span>
    <span><%= invoice.client.name %></span>
  </div>
  <span class="invoice-card__title"><%= invoice.title %></span>
  <span><%= invoice.pretty_date %></span>
  <% if invoice.locked %>
    <span><%= svg('lock') %></span>
  <% end %>
  <%= link_to '', invoice_path(invoice), class: 'full-absolute' %>
</div>