<%= turbo_frame_tag dom_id(@invoice, :client) do %>
  <div class="invoice-client invoice-client--focus">
    <%= simple_form_for @invoice, url: update_client_invoice_path(@invoice), html: { class: 'form invoice-client--form' } do |f| %>
      <%= f.input :client_id, collection: @clients, selected: @client.id, input_html: { autofocus: true } %>
      <%= link_to svg('return'), invoice_path(@invoice), class: 'btn btn--light btn--icon' %>
      <%= button_tag class: 'btn btn--primary btn--icon' do %>
        <%= svg('check') %>
      <% end %>
    <% end %>
    <%= render @client %>
  </div>
<% end %>