<main class="container">
  <div class="invoice-nav <%= hide_on_pdf %>">
    <%= link_to sanitize("&larr; #{t('back_to_invoices')}"), invoices_path %>
    <% if @invoice.locked %>
      <h4><%= t('locked_invoice') %></h4>
    <% end %>
    <div class="invoice-nav__right">
      <% unless @invoice.locked %>
        <%= button_to svg('trash'),
                      @invoice,
                      method: :delete,
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      class: 'btn btn--light btn--icon' %>

        <%= button_to svg('lock'),
                      @invoice,
                      class: 'btn btn--light btn--icon',
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      params: { invoice: { locked: !@invoice.locked } } %>
      <% end %>
      <%= link_to 'PDF', export_to_pdf_invoice_path(@invoice, format: :pdf), class: 'btn btn--primary' %>
    </div>
  </div>
  <div class="invoice">
    <div class="invoice__header">
      <div class="invoice__user">
        <%= render 'user', invoice: @invoice %>
      </div>
      <div class="invoice__client">
        <%= render 'invoices/client', invoice: @invoice, client: @client %>
      </div>
    </div>

    <div class="invoice__infos">
      <%= render 'invoices/infos', invoice: @invoice %>
    </div>

    <div class="invoice__body">
      <div class="invoice__line-items">
        <div class="line-item line-item--header locked">
          <span class="line-item__description"><%= t('description') %></span>
          <span class="line-item__quantity"><%= t('qty') %></span>
          <span class="line-item__price"><%= t('unit_price') %></span>
          <span class="line-item__total"><%= t('ht_total') %></span>
        </div>
        <%= turbo_frame_tag nested_dom_id(@invoice, 'line_items') do %>
          <%= render @invoice.line_items.ordered, invoice: @invoice %>
        <% end %>
        <%= turbo_frame_tag nested_dom_id(@invoice, LineItem.new) %>
        <% unless @invoice.locked %>
          <%= button_to svg('plus'),
                      [:new, @invoice, :line_item],
                      method: :get,
                      data: { turbo_frame: nested_dom_id(@invoice, LineItem.new) },
                      class: "btn btn--light btn--icon btn--spaced #{hide_on_pdf}" %>
        <% end %>
        <%= turbo_frame_tag dom_id(@invoice, :total) do %>
          <%= render 'total', invoice: @invoice %>
        <% end %>
      </div>
      <p class="invoice__no-tva"><%= t('no_tva_explaination') %></p>
    </div>

    <%= render 'payment', invoice: @invoice %>
  </div>

  <%= render 'days/calendar', invoice: @invoice %>
</main>