<main class="container">
  <%= link_to sanitize("&larr; Back to invoices"), invoices_path %>

  <div class="invoice">
    <div class="invoice__header">
      <div>
        <p class="invoice__title"><%= @invoice.user.full_name %></p>
        <p class="invoice__upcase"><%= @invoice.user.address1 %></p>
        <p class="invoice__upcase"><%= @invoice.user.zipcode %> <%= @invoice.user.city %></p>
        <p><%= @invoice.user.country %></p>
        <div class="invoice__spaced">
          <p><%= @invoice.user.email %></p>
          <p><%= @invoice.user.website %></p>
        </div>
        <p class="invoice__title">SIREN: <%= @invoice.user.siren %></p>
      </div>
      <div class="invoice__header--right">
        <%= render @client %>
      </div>
    </div>

    <div>
      <p>N° de Facture : <%= @invoice.number %></p>
      <p>Date d'émission : <%= @invoice.date.strftime("%d/%m/%Y") %></p>
    </div>

    <div class="invoice__body">
      <div class="invoice__bold"><%= @invoice.title %></div>
      <div class="invoice__line-items">
        <div class="line-item line-item--header">
          <span class="line-item__description">Description</span>
          <span class="line-item__quantity">Qté</span>
          <span class="line-item__price">Prix unitaire</span>
          <span class="line-item__total">Total HT</span>
        </div>
        <%= turbo_frame_tag nested_dom_id(@invoice, 'line_items') do %>
          <%= render @invoice.line_items.ordered, invoice: @invoice %>
        <% end %>
        <%= turbo_frame_tag nested_dom_id(@invoice, LineItem.new) %>
        <%= button_to svg('plus'),
                    [:new, @invoice, :line_item],
                    method: :get,
                    data: { turbo_frame: nested_dom_id(@invoice, LineItem.new) },
                    class: 'btn btn--light btn--icon btn--spaced' %>
        <%= turbo_frame_tag dom_id(@invoice, :total) do %>
          <%= render 'total', invoice: @invoice %>
        <% end %>
      </div>
      <p class="invoice__no-tva">TVA non applicable, article 293 B du Code Général des Impôts</p>
    </div>

    <div class="invoice__payment">
      <div class="invoice__payment__line invoice__bold">Informations de paiement</div>
      <div class="invoice__payment__line"><span>BIC :</span><%= @invoice.user.bic %></div>
      <div class="invoice__payment__line"><span>IBAN :</span><%= @invoice.user.iban %></div>
      <div class="invoice__payment__line"><span>Libellé :</span><span class="invoice__bold"><%= @invoice.number %></span></div>
    </div>
  </div>
</main>