<div class="client">
  <p class="invoice__title"><%= @client.name %></p>
  <p class="invoice__upcase"><%= @client.address1 %></p>
  <p class="invoice__upcase"><%= @client.zipcode %> <%= @client.city %></p>
  <p><%= @client.country %></p>
</div>