<%= simple_form_for [invoice, line_item],
                    html: { class: "form line-item line-item--form" } do |f| %>

  <%#= form_error_notification(line_item) %>

  <%= f.input :description,
              wrapper_html: { class: "line-item__description" },
              input_html: { autofocus: true } %>
  <%= f.input :quantity,
              wrapper_html: { class: "line-item__quantity" } %>
  <%= f.input :unit_price,
              wrapper_html: { class: "line-item__price" } %>

  <div class="line-item__actions">
    <%= link_to svg('return'), invoice_path(invoice), class: "btn btn--light btn--icon" %>
    <button type="submit" class="btn btn--secondary btn--icon">
      <%= svg('check') %>
    </button>
  </div>
<% end %>