<%= turbo_frame_tag line_item do %>
  <div class="line-item <%= class_names(locked: invoice.locked?) %>">
    <span class="line-item__description"><%= line_item.description %></span>
    <span class="line-item__quantity"><%= line_item.quantity %></span>
    <span class="line-item__price"><%= number_to_currency(line_item.unit_price) %></span>
    <span class="line-item__total"><%= number_to_currency(line_item.total_price) %></span>
    <% unless invoice.locked %>
      <%= link_to '',
                  [:edit, invoice, line_item],
                  class: "line-item__edit #{hide_on_pdf}" %>
    <% end %>
  </div>
<% end %>