<%= turbo_frame_tag line_item do %>
  <div class="line-item">
    <span class="line-item__description"><%= line_item.description %></span>
    <span class="line-item__quantity"><%= line_item.quantity %></span>
    <span class="line-item__price"><%= number_to_currency(line_item.unit_price) %></span>
    <span class="line-item__total"><%= number_to_currency(line_item.total_price) %></span>
    <div class="line-item__actions">
      <%= link_to svg('edit'),
                  [:edit, invoice, line_item],
                  class: "btn btn--light btn--icon" %>
      <%= button_to svg('trash'),
                    [invoice, line_item],
                    method: :delete,
                    class: "btn btn--light btn--icon" %>
    </div>
  </div>
<% end %>